/*888888888888888888888888888888888888888888888888888888888888888888888888888888*/
/*8888888888888888888888888888888888888888 Site 88888888888888888888888888888888*/
/*888888888888888888888888888888888888888888888888888888888888888888888888888888*/
body
{
	background-color:black;
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

/*888888888888888888888888888888888888888888888888888888888888888888888888888888*/
/*8888888888888888888888888888888888888888 Download 8888888888888888888888888888*/
/*888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#download
{
	color:black;
	display: block;
	text-decoration:none;
	text-align: center;
	font-weight:bold;
	margin-top: 10px;
}

:hover#download
{
	color:red;
}
/*888888888888888888888888888888888888888888888888888888888888888888888888888888*/
/*8888888888888888888888888888888888888888 EoF 888888888888888888888888888888888*/
/*888888888888888888888888888888888888888888888888888888888888888888888888888888*/
