/*  
##############################
    Tetris
##############################
*/
#JST-main
{
	position:relative;
	width:800px;
	height:640px;
	margin: 5% auto 0 auto;
	padding:0;
	background-color:rgba(0,0,0,0.2);
}

#JST-panel
{

	background-color:rgba(200,200,200,0.8);
	border-radius:25px;
	width:250px;
	float:left;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
}

#JST-surface
{
	background-color:rgba(0,0,0,0.2);
	float:right;
	clear:right;
}

#JST-info
{
	position:absolute;
	width:250px;
	height:100px;
	bottom:0px;
	right: 0px;
	display: block;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	z-index: 5;
}
/*  
##############################
    Options Panel
##############################
*/
#JST-logo
{
	width:100%;
	height:100px;
}

#JST-play
{
	color:gray;
	font-weight:bold;
	background:white;
	margin:0 auto 10px auto;
	display:block;
	text-align:center;
	border:5px solid black;
	padding:10px;
	font-size:28px;
	text-decoration:none;
}

:hover#JST-play 
{
	background:yellow;
	border-style:dotted;
	color:green;
}

#JST-music-button, #JST-sound-button
{
	display: block;
	color:black;
	font-size: 12px;
	text-decoration:none;
}

#JST-score
{
	color:rgb(200,100,0);
	border:1px solid black;
	font-size: 28px;
}

#JST-best
{
	color:rgb(90,90,90);
	font-size: 20px;
	padding: 0;
	margin: 0;
}

#JST-next
{
	background-color:black;
}

.strings
{
	margin-bottom:0px;
	padding:0;
	color:yellow;
	text-shadow:0 0 6px red;
}
/*  
##############################
    Special Classes
##############################
*/
.hidden{
    display: none !important;
}

.disabled{
    color: gray !important;
}
/*  
##############################
    EOF
##############################
*/